{% extends 'network/layout.html' %}

{% block body %}

    <!-- Template for post component -->
    {% verbatim %}
    <script id='post-template' type='text/x-handlebars-template'>
        <div class='border rounded' style='margin:15px; padding: 15px; word-wrap: break-word'>
            <div class='media'>
                <img src='{{ avatar }}' width='50' height='50' class='rounded-circle'>
                <div class="media-body ml-3">
                    <h6><a href='' onclick='return false;' style='color: black;'>{{ first_name }} {{ last_name }}</a></h6>
                    <p class='small text-muted'>
                        {{ date }} | {{ time }}
                    </p>
                </div>
                </div>
            <p>{{ message }}</p>
        </div>
    </script>
    {% endverbatim %}

    {% if message %}
        <div class='alert alert-dark' role='alert'>{{ message }}</div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class='border rounded' style='margin:15px; padding: 15px;'>
            <form>
                {% csrf_token %}

                <h4>Create post</h4>
                <div class='form-group'>
                    <textarea placeholder='Write post here...' class='form-control'></textarea>
                </div>
                <input class='btn btn-primary' type='submit' value='Post'>

            </form>
        </div>
    {% endif %}
    <div id='posts'>
    </div>
{% endblock %}
