{% extends 'network/layout.html' %}
{% load static %}

{% block scripts %}
    <script src='{% static "network/index.js" %}'></script>
{% endblock %}

{% block body %}

    <!-- Template for post component -->
    {% verbatim %}
        <script id='buttons-template' type='text/x-handlebars-template'>
            {{#if have_liked}}
                <button type='button' class='btn btn-sm btn-success like-button'><i class='fa fa-thumbs-up emoji' style='color:green;' aria-hidden='true'></i> {{ likes }}</button>
            {{else}}
                <button type='button' class='btn btn-sm btn-success like-button'><i class='fa fa-thumbs-up emoji' style='color:white;' aria-hidden='true'></i> {{ likes }}</button>
            {{/if}}
            {{#if have_disliked}}
                <button type='button' class='btn btn-sm btn-danger dislike-button'><i class='fa fa-thumbs-down emoji' style='color:red' aria-hidden='true'></i> {{ dislikes }}</button>
            {{else}}
                <button type='button' class='btn btn-sm btn-danger dislike-button'><i class='fa fa-thumbs-down emoji' style='color:white' aria-hidden='true'></i> {{ dislikes }}</button>
            {{/if}}
            <button type='button' class='btn btn-sm btn-secondary'><i class='fa fa-comment emoji' aria-hidden='true'></i> 0</button>
        </script>
    {% endverbatim %}

    <!-- Template for comment to post component -->
    {% verbatim %}
        <script id='comment-template' type='text/x-handlebars-template'>
            <hr>
            <form>
                <div class='form-group'>
                    <textarea id='post-input' placeholder='Leave your comment here' class='form-control' spellcheck='true'></textarea>
                </div>
                <input class='btn btn-secondary' type='submit' value='Comment'>
            </form>
        </script>
    {% endverbatim %}

    {% if message %}
        <div class='alert alert-dark' style='margin: 5px;' role='alert'>{{ message }}</div>
    {% endif %}

    <div class='border rounded' style='margin:15px; padding: 15px;'>
        <form action='{% url "create-post" %}' method='post'>
            {% csrf_token %}
            <h4>Create post</h4>
            <div class='form-group'>
                <textarea id='post-input' name='message' placeholder='What is on your mind?' class='form-control' spellcheck='true'></textarea>
            </div>
            <input class='btn btn-secondary' type='submit' value='Post' id='post-button'>
        </form>
    </div>
    {% for post in posts %}
        <div class='border rounded' style='margin:15px; padding: 15px; word-wrap: break-word'>
            <div class='media'>
                <img src='{{ post.user__avatar }}' width='50' height='50' class='rounded-circle'>
                <div class="media-body ml-3">
                    <div>
                        <a href='' onclick='return false;' style='color: black; font-size:15px; font-weight: bold;'>{{ post.user__first_name }} {{ post.user__last_name }}</a>
                            {% if post.own_post %}
                                <button class='btn btn-light btn-sm float-right'><i class='fa fa-edit' aria-hidden='true'></i></button>
                            {% endif %}
                    </div>
                    <p class='small text-muted'>
                        {{ post.date|date:"Y-m-d" }} | {{ post.time }}
                    </p>
                </div>
            </div>
            <p>{{ post.message }}</p>
            <hr>
            <div style='width:100%;' id='{{ post.id }}' class='btn-group' role='group' aria-label='Basic example'>
                {% if post.have_liked %}
                    <button type='button' class='btn btn-sm btn-success like-button'><i class='fa fa-thumbs-up emoji' style='color:green;' aria-hidden='true'></i> {{ post.likes }}</button>
                {% else %}
                    <button type='button' class='btn btn-sm btn-success like-button'><i class='fa fa-thumbs-up emoji' style='color:white;' aria-hidden='true'></i> {{ post.likes }}</button>
                {% endif %}
                {% if post.have_disliked %}
                    <button type='button' class='btn btn-sm btn-danger dislike-button'><i class='fa fa-thumbs-down emoji' style='color:red' aria-hidden='true'></i> {{ post.dislikes }}</button>
                {% else %}
                    <button type='button' class='btn btn-sm btn-danger dislike-button'><i class='fa fa-thumbs-down emoji' style='color:white' aria-hidden='true'></i> {{ post.dislikes }}</button>
                {% endif %}
                <button type='button' class='btn btn-sm btn-secondary'><i class='fa fa-comment emoji' aria-hidden='true'></i> 0</button>
            </div>
        </div>
    {% endfor %}
{% endblock %}
